<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Group</title>
</head>
<body>
    <H1>HELLO DEVELOPERS....from the django group..please make sure you identify your role and clone the branch you are working on...and only commit to those branches ...only after completion are you alowed to push to the main branch
        <span style="color: red;">!!!!ALERT do not fork this repo if you are part of the team</span>
    </H1>
</body>
</html>